body
{
    font-family: 'Lucida Grande', sans-serif;
}

.calendar
{
    height: 720px;
}

ul.calendar--timestamps > li
{
    font-size: 9px;
    font-weight: 200;
    line-height: 9px;

    height: 30px;

    text-align: right;

    color: #a7a7a7;
}

ul.calendar--timestamps > li:nth-child(odd)
{
    font-size: 13px;
    font-weight: 500;

    color: #686868;
}

ul.calendar--timestamps > li > .period
{
    font-size: 9px;
    font-weight: 200;

    color: #a7a7a7;
}

ul.calendar--timestamps > li:nth-child(even) .period
{
    display: none;
}

ul.calendar--timestamps
{
    float: left;

    margin: -5px 0 0 0;
    padding: 0;

    list-style-type: none;
}

.calendar--events
{
    position: relative;

    width: 620px;
    height: 720px;
    margin: 10px 0 0 60px;

    border-left: 1px solid #d6d6d6;
    background-color: #ececec;
}

.calendar--event
{
    position: absolute;

    overflow: hidden;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 10px;
    padding: 5px 10px 5px 6px;

    border-left: 4px solid #4b6ea9;
    background-color: white;
}

.calendar--event::after
{
    position: absolute; top: 0; right: 0;
    bottom: 0; left: 0;

    content: '';

    border-top: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}

.calendar--event > dl
{
    margin: 0;
}

.calendar--event > dl > dt
{
    font-size: 13px;

    color: #4b6ea9;
}

.calendar--event > dl > dd
{
    font-size: 9px;

    margin: 0;

    color: #a7a7a7;
}
